<html>
    <head>
        <title>Home</title>
    </head>
    <style>
        .ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 200px;
            background-color: #f1f1f1;
        }
        .li .a {
            display: block;
            color: #000;
            padding: 8px 16px;
            text-decoration: none;
        }
        .li .a:hover {
            background-color: #555;
            color: white;
        }
    </style>

    <body>
        <h1>API ROUTES</h1>

        <h2>GET without id</h2>
        <ul>
            <li>http://(ip-address)/api/admins/</li>
            <li>http://(ip-address)/api/guests/</li>
            <li>http://(ip-address)/api/orders/</li>
            <li>http://(ip-address)/api/products/</li>
            <li>http://(ip-address)/api/reviews/</li>
            <li>http://(ip-address)/api/users/</li>
        </ul>

        <h2>GET with id</h2>
        <ul>
            <li>http://(ip-address)/api/admins/id</li>
            <li>http://(ip-address)/api/guests/id</li>
            <li>http://(ip-address)/api/orders/id</li>
            <li>http://(ip-address)/api/products/id</li>
            <li>http://(ip-address)/api/reviews/id</li>
            <li>http://(ip-address)/api/users/id</li>
        </ul>

        <h2>POST</h2>
        <ul>
            <li>http://(ip-address)/api/admins/</li>
            <li>http://(ip-address)/api/guests/</li>
            <li>http://(ip-address)/api/orders/</li>
            <li>http://(ip-address)/api/products/</li>
            <li>http://(ip-address)/api/reviews/</li>
            <li>http://(ip-address)/api/users/</li>
        </ul>

        <h2>PUT with id</h2>
        <ul>
            <li>http://(ip-address)/api/admins/id</li>
            <li>http://(ip-address)/api/guests/id</li>
            <li>http://(ip-address)/api/orders/id</li>
            <li>http://(ip-address)/api/products/id</li>
            <li>http://(ip-address)/api/reviews/id</li>
            <li>http://(ip-address)/api/users/id</li>
        </ul>

        <h2>DELET with id</h2>
        <ul>
            <li>http://(ip-address)/api/admins/id</li>
            <li>http://(ip-address)/api/guests/id</li>
            <li>http://(ip-address)/api/orders/id</li>
            <li>http://(ip-address)/api/products/id</li>
            <li>http://(ip-address)/api/reviews/id</li>
            <li>http://(ip-address)/api/users/id</li>
        </ul>
        <!-- <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
        </ul> -->

    </body>
</html>